<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ImageLikesLinqToSql.Data.Properties.Settings.ImageLikesLinqToSqlConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=ImageLikesLinqToSql;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>